@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Scheherazade+New:wght@700&display=swap');

:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: whitesmoke;
}
header {
  background-color: black;
  padding: 0.3rem;
  position: sticky;
  top: 0;
  opacity: 0.8;
  box-shadow: gray 12px 12px 24px;
  padding: 0;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}
ul .Logos {
  justify-content: right;
}
section .HomepageImages {
  justify-content: center;
}
div .About {
  margin: 1.15rem 1rem 1rem 1rem;
  color: white;
  text-shadow: black 0.03rem 0.03rem;
  text-align: right;
  position: absolute;
  right: 15%;
  font-family: 'Montserrat', sans-serif;
}
div .LinkedIn {
  margin: 0.5rem 1rem 0 1rem;
  text-align: right;
  position: absolute;
  right: 0%;
  font-size: 1.1rem;
}
div .Github {
  margin: 0.15rem 0.5rem 0 0.5rem;
  text-align: center;
  text-align: right;
  position: absolute;
  right: 5.5%;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
div .Github:hover {
  text-shadow: white 2px 2px 12px;
}
div .LinkedIn:hover {
  text-shadow: white 2px 2px 12px;
}
div .EmailLogo:hover {
  text-shadow: white 2px 2px 12px;
}
div .About:hover {
  text-shadow: white 2px 2px 12px;
}
div .EmailLogo {
  margin: 0.6rem 1rem 0 1rem;
  text-align: right;
  position: absolute;
  right: 10%;
}
footer {
  background-color: black;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  text-shadow: black 0.03rem 0.03rem;
  box-shadow: gray 12px 12px 24px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
}
.HomepageImages {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.PortfolioHeader {
  font-family: 'Montserrat', sans-serif;
}
.Project1 img,
.Project2 img,
.Project3 img,
.Project4 img,
.Project5 img,
.Project6 img,
.Project7 img {
  margin: 0.75rem;
  border-radius: 0.85rem;
  align-content: center;
  border: black solid 0.1rem;
  box-shadow: black 12px 12px 24px;
}
.Project1 img:hover,
.Project2 img:hover,
.Project3 img:hover,
.Project4 img:hover,
.Project5 img:hover,
.Project6 img:hover,
.Project7 img:hover {
  box-shadow: rgb(0, 0, 167) 12px 12px 24px;
}
section {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: blue;
  margin: 0.5rem;
  margin-bottom: 1rem;
}
.umbrella {
  color: black;
}
.AboutPage {
  margin: 1.25rem;
}
.envelope {
  color: blue;
  font-size: 1.95rem;
}
.AboutHeader {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.language {
  margin: 1rem;
  color: blue;
}
p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.Logo {
  padding: 0;
}
.fab {
  color: blue;
}
@media all and (max-width: 375px) {
  div .About {
    font-size: 0.75rem;
    right: 25%;
    margin-top: 1.2rem;
  }
  div .EmailLogo {
    right: 17%;
    font-size: 0.85rem;
    margin-top: 0.75rem;
  }
  li .Github {
    font-size: 0.95rem;
    right: 10.2%;
    margin-top: 0.65rem;
  }
  div .LinkedIn {
    font-size: 0.95rem;
    margin-top: 0.65rem;
  }
  .language {
    font-size: 1.25rem;
    margin: 0.12rem;
  }
}
@media all and (max-width: 428px) {
  div .About {
    font-size: 0.75rem;
    right: 25%;
    margin-top: 1.2rem;
  }
  div .EmailLogo {
    right: 17%;
    font-size: 0.85rem;
    margin-top: 0.75rem;
  }
  div .Github {
    font-size: 0.95rem;
    right: 9.85%;
    margin-top: 0.65rem;
  }
  div .LinkedIn {
    font-size: 0.95rem;
    margin-top: 0.65rem;
  }
  .language {
    margin: 0.29rem;
    font-size: 1.25rem;
  }
}
@media all and (max-width: 414px) {
  div .About {
    font-size: 0.75rem;
    right: 25%;
    margin-top: 1.2rem;
  }
  div .EmailLogo {
    right: 17%;
    font-size: 0.85rem;
    margin-top: 0.75rem;
  }
  div .Github {
    font-size: 0.95rem;
    right: 9.85%;
    margin-top: 0.65rem;
  }
  div .LinkedIn {
    font-size: 0.95rem;
    margin-top: 0.65rem;
  }
  .language {
    margin: 0.25rem;
    font-size: 1.25rem;
  }
}
@media all and (max-width: 390px) {
  div .About {
    font-size: 0.75rem;
    right: 25%;
    margin-top: 1.2rem;
  }
  div .EmailLogo {
    right: 17%;
    font-size: 0.85rem;
    margin-top: 0.75rem;
  }
  div .Github {
    font-size: 0.95rem;
    right: 9.85%;
    margin-top: 0.65rem;
  }
  div .LinkedIn {
    font-size: 0.95rem;
    margin-top: 0.65rem;
  }
  .language {
    margin: 0.2rem;
    font-size: 1.25rem;
  }
}
