@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Scheherazade+New:wght@700&display=swap');

:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: whitesmoke;
}
header {
  background-color: #001fff;
  padding: 0.3rem;
  position: sticky;
  top: 0;
  opacity: 0.8;
  box-shadow: gray 12px 12px 24px;
  padding: 0;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}
.AboutPage h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  border-bottom: black;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
div .ContactPortion {
}
section .HomepageImages {
  justify-content: center;
}
.Logos {
  padding: 0;
}

.Logos .About {
  color: white;

  text-align: right;
  font-size: 1.15rem;
  font-family: 'Montserrat', sans-serif;
  right: 8%;
  position: absolute;
  margin: 1.58rem 0 0 0;

  padding: 0.35rem;
  border-radius: 0.35rem;
}
.LinkedIn {
  text-align: center;
  list-style: none;
  margin: 1rem;
}
.Github {
  text-align: center;
  list-style: none;
  margin: 1rem;
}
.EmailLogo {
  text-align: center;
  list-style: none;
  margin: 1rem;
}
.envelope {
  margin: 0 0 2rem 0;
}
ul {
  display: flex;
  justify-content: left;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.Logos .About:hover {
  text-decoration: underline;
}
footer {
  background-color: #001fff;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  text-shadow: black 0.03rem 0.03rem;
  box-shadow: gray 12px 12px 24px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
}
.HomepageImages {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.PortfolioHeader {
  font-family: 'Montserrat', sans-serif;
}
div .Project1,
div .Project2,
div .Project3,
div .Project4,
div .Project5,
div .Project6,
div .Project7 {
  border-top: black solid 0.1rem;
}
.Project1 img,
.Project2 img,
.Project3 img,
.Project4 img,
.Project5 img,
.Project6 img,
.Project7 img {
  margin: 0.75rem;
  border-radius: 0.85rem;
  align-content: center;
  border: black solid 0.1rem;
  box-shadow: black 12px 12px 24px;
}
.Project1 img:hover,
.Project2 img:hover,
.Project3 img:hover,
.Project4 img:hover,
.Project5 img:hover,
.Project6 img:hover,
.Project7 img:hover {
  box-shadow: rgb(0, 0, 167) 12px 12px 24px;
}
section {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin: 0.5rem;
  margin-bottom: 1rem;
}
.AboutPage {
  margin: 1.25rem;
}
.AboutHeader {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.language {
  margin: 1rem;
  color: black;
}
p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
}
.Logo img {
  padding: 0;
  border-radius: 0.35rem;
}
.fab {
  color: black;
}
@media all and (max-width: 375px) {
  div .About {
    font-size: 0.75rem;
    margin-top: 1.2rem;
  }
  div .EmailLogo {
    font-size: 0.85rem;
  }
  div .Github {
    font-size: 0.95rem;

    margin-top: 0.65rem;
  }
  div .LinkedIn {
    font-size: 5rem;
    margin-top: 0.65rem;
  }
  .language {
    font-size: 1.25rem;
    margin: 0.12rem;
  }
}
@media all and (max-width: 428px) {
  div .About {
    font-size: 0.75rem;
    right: 25%;
    margin-top: 1.2rem;
  }
  div .EmailLogo {
    right: 17%;
    font-size: 0.85rem;
    margin-top: 0.75rem;
  }
  div .Github {
    font-size: 0.95rem;
    right: 9.85%;
    margin-top: 0.65rem;
  }
  div .LinkedIn {
    font-size: 0.95rem;
    margin-top: 0.65rem;
  }
  .language {
    margin: 0.29rem;
    font-size: 1.25rem;
  }
}
@media all and (max-width: 414px) {
  div .About {
    font-size: 0.75rem;
    right: 25%;
    margin-top: 1.2rem;
  }
  div .EmailLogo {
    right: 17%;
    font-size: 0.85rem;
    margin-top: 0.75rem;
  }
  div .Github {
    font-size: 0.95rem;
    right: 9.85%;
    margin-top: 0.65rem;
  }
  div .LinkedIn {
    font-size: 0.95rem;
    margin-top: 0.65rem;
  }
  .language {
    margin: 0.25rem;
    font-size: 1.25rem;
  }
}
@media all and (max-width: 390px) {
  div .About {
    font-size: 0.75rem;
    right: 25%;
    margin-top: 1.2rem;
  }
  div .EmailLogo {
    right: 17%;
    font-size: 0.85rem;
    margin-top: 0.75rem;
  }
  div .Github {
    font-size: 0.95rem;
    right: 9.85%;
    margin-top: 0.65rem;
  }
  div .LinkedIn {
    font-size: 0.95rem;
    margin-top: 0.65rem;
  }
  .language {
    margin: 0.2rem;
    font-size: 1.25rem;
  }
}
